<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>A tool intended to send/receive files thru network</string>
	<key>CFBundleExecutable</key>
	<string>dropfile</string>
	<key>CFBundleIdentifier</key>
	<string>com.bigfatbrowncat.dropfile</string>
	<key>CFBundleName</key>
	<string>DropFile</string>
	<key>CFBundleIconFile</key>
	<string>wingphotos.icns</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Ilya Mizus, 2014</string>
	<key>CFBundleDocumentTypes</key>
	<array>
	</array>
	<key>CFBundleSignature</key>
	<string>drpfl</string>
</dict>
</plist>
