input, textarea, select, button {
	color: rgba(0, 0, 0, 0.9);
	border-color: rgba(0, 0, 0, 0.3);
	border-width: 1px;
	padding: 3pt;

	background: -webkit-linear-gradient(rgba(240, 240, 240, 0.8), rgba(250, 250, 250, 0.8)); /* For Safari */
	background: -o-linear-gradient(rgba(240, 240, 240, 0.8), rgba(250, 250, 250, 0.8)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(240, 240, 240, 0.8), rgba(250, 250, 250, 0.8)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(240, 240, 240, 0.8), rgba(250, 250, 250, 0.8)); /* Standard syntax */
	font-family: sans-serif;
	font-size: 9pt;
	border-radius: 2pt;
	
	width: 100%;
	box-sizing: border-box;
}

input[type=submit], button {
	width: auto;
}

input[type=submit],
input[type=submit]:active,
input[type=submit]:hover,
button,
button:active,
button:hover
{
	padding: 3pt 10pt; 
	border-radius: 2pt;
	border-color: rgb(160, 160, 160);
	border-width: 1px;
	font-size: 9pt;
}

input[type=submit], button {
	background: rgba(170, 170, 170, 1);
	color: rgba(70, 70, 70, 1);
	box-shadow: 0px 1px 5px #ccc;
	background: -webkit-linear-gradient(rgb(240, 240, 240), rgb(204, 204, 204));
	background: -o-linear-gradient(rgb(240, 240, 240), rgb(204, 204, 204));
	background: -moz-linear-gradient(rgb(240, 240, 240), rgb(204, 204, 204));
	background: linear-gradient(rgb(240, 240, 240), rgb(204, 204, 204));
	text-shadow: 0px 0px 6px rgb(250, 250, 250);
	font-weight: bold;
	padding-top: 3pt;
	padding-bottom: 3pt;
}
input[type=submit]:hover, button:hover {
	color: rgba(70, 70, 70, 1);
	box-shadow: 0px 1px 5px #eee;
	background: rgba(180, 180, 180, 1);
	background: -webkit-linear-gradient(#fafafa, #dddddd);
	background: -o-linear-gradient(#fafafa, #dddddd);
	background: -moz-linear-gradient(#fafafa, #dddddd);
	background: linear-gradient(#fafafa, #dddddd);
	padding-top: 3pt;
	padding-bottom: 3pt;
}
input[type=submit]:active, button:active {
	color: rgba(250, 250, 250, 1);
	box-shadow: 0px 0px 5px rgb(128,128,128) inset;
	background: rgba(180, 180, 180, 1);
	background: -webkit-linear-gradient(rgb(210, 210, 210), rgb(164, 164, 164));
	background: -o-linear-gradient(rgb(210, 210, 210), rgb(164, 164, 164));
	background: -moz-linear-gradient(rgb(210, 210, 210), rgb(164, 164, 164));
	background: linear-gradient(rgb(210, 210, 210), rgb(164, 164, 164));
	padding-top: 3.5pt;
	padding-bottom: 2.5pt;
}
input[type=submit]:disabled, button:disabled {
	background: rgba(200, 200, 200, 1);
	color: rgba(255, 255, 255, 0.4);
	box-shadow: 1px 1px 5px #909090 inset;
	color: rgb(120, 120, 120);
	padding-top: 3pt;
	padding-bottom: 3pt;
}

table {
	width: 100%;
}

body {
	font-size: 11pt;
	margin: 0;
	background: -webkit-linear-gradient(#DCC, #EEE);
	background: -o-linear-gradient(#DCC, #EEE);
	background: -moz-linear-gradient(#DCC, #EEE);
	background: linear-gradient(#DCC, #EEE);
	min-width: 300px;
}

p {
	margin: 5pt 0;
}

div.pageIn {
	padding-top: 30pt;
	background-image: url('/images/diag.png');
	background-repeat: repeat;
	min-height: 100vh;
}

div.pageOut {
	padding-top: 40pt;
	background-image: url('/images/diag.png');
	background-repeat: repeat;
	position: relative;
	min-height: 100vh;
}

.shadowed {
    -webkit-filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.4));
    filter: url(/#drop-shadow);
    -ms-filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=2, Color='#444');
    filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=2, Color='#444');
}

ul.messages {
	list-style-type: none;
	padding: 0pt 5pt 5pt;
	max-width: 500pt;
	margin: auto;
	clear: left;
}

li.message {
	margin: 5pt;
	padding: 7pt 5pt 6pt 5pt;
	background: #FFFCF8;
	background-color: rgba(255,255,255,0.65);
}

div.msgTitle {
	overflow-x: hidden;
}

span.msgUser {
	color: #444444;
	padding: 0pt 5pt;
	font-weight: bold;
	font-size: 105%;
	font-family: sans-serif;
}

span.msgTime {
	color: #888888;
	padding: 0pt 5pt;
	font-size: 80%;
}

div.msgText {
	color: #000000;
	padding: 1pt 5pt 0pt 5pt;
	overflow-x: auto;
}

span.userName {
	color: #444444;
	font-weight: bold;
}

form.logoutForm {
	display: inline;
}

.panel {
	background: rgb(240, 240, 240);
	box-shadow: 0px 0px 5px #444444;
	
	background: -webkit-linear-gradient(rgb(245, 245, 245), rgb(234, 234, 234));
	background: -o-linear-gradient(rgb(245, 245, 245), rgb(234, 234, 234));
	background: -moz-linear-gradient(rgb(245, 245, 245), rgb(234, 234, 234));
	background: linear-gradient(rgb(245, 245, 245), rgb(234, 234, 234));
}

div.titlePanelIn {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

div.titlePanelOut {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

input.logout {
	position: absolute;
	right: 10pt;
	top: 9pt;
}

/* For small screens */

img.userIconIn {
	width: 64px;
	height: 64px;
	background-size: contain;
	position: absolute;
	top: 0;
}

img.userIconOut {
	float: left;
	width: 64px;
	height: 64px;
	background-size: contain;
}

div.titlePanelIn {
	font-size: 100%;
	height: 38pt;
}

div.titlePanelOut {
	font-size: 75%;
	height: 38pt;
	min-width: 320px;
}

div.titlePanelTextOut {
	font-family: sans-serif;
	text-shadow: 0px 0px 10px #888888;
	display: table;
	height: 100%;
	padding-left: 5pt;
	padding-right: 5pt;
}

div.titlePanelTextIn {
	font-family: sans-serif;
	text-shadow: 0px 0px 10px #888888;
	display: table;
	width: 100%;
	height: 100%;
	margin-left: 55pt;
}

.vcenter {
	display: table-cell;
	vertical-align: middle;
	padding-top: 3pt;
}

div.regLogContainer {
	text-align: center;
}

div.messagesContainerOut {
}

div.messagesContainerIn {
}

div.sendMessagePanel {
	padding: 5pt;
	max-width: 480pt;
	margin: auto;
}

.sendMessageButton {
	float: right;
	width: 100pt;
}

.btnShortcut {
	font-size: 90%;
	font-weight: normal;
	font-variant: small-caps;
}

textarea.messageTextArea {
	font-size: 10pt;
}

/* For large screens */
@media screen and (min-width: 740px) {

	div.regLogContainer {
		right: 10pt;
		width: 210pt;
		position: absolute;
	}
	div.messagesContainerOut {
		margin-right: 215pt;
	}

	div.titlePanelOut {
		font-size: 100%;
		height: 55pt;
	}
	
	div.pageOut {
		padding-top: 55pt;
	}
	
	img.userIconOut {
		width: 96px;
		height: 96px;
	}

}

div.regLogPanel {
	margin: 5pt;
	font-family: sans-serif;
	font-size: 90%;
	padding: 10pt;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width: 180pt;
}

input.regLogPanelButton {
	margin-top: 5pt;
}

div.regLogPanel > h3 {
	margin-top: 0pt;
}

span.welcome {
	font-size: 110%;
}

.errorMessage {
	color: red;
	text-shadow: rgb(255, 100, 100) 0px 0px 5px;
	padding: 5pt;
}

td:not(:last-child) {
	padding-right: 10pt;
}

table {
	border-spacing: 0;
}

