MainIcon ICON "win-res/ara.ico"
1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "bigfatbrowncat\0"
      VALUE "FileDescription", "A Parrot client application\0"
      VALUE "FileVersion", "0.1\0"
      VALUE "InternalName", "Ara\0"
      VALUE "LegalCopyright", "Ilya Mizus\0"
      VALUE "OriginalFilename", "ara.exe\0"
      VALUE "ProductName", "Ara\0"
      VALUE "ProductVersion", "0.1\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1251
  END
END